[Unit]

Description=DHCP Server: dhcpd
After=Network.target systemd-tmpfiles-setup.service

[Service]
Type=forking
ExecStart=/sbin/dhcpcd

[Install]
WantedBy=multi-user.target
